{% extends "base.html" %}
{% block navbar_nav %}
<ul class="navbar-nav">
    {% if session['username'] %}
    <li class="nav-item">
        <a class="nav-link" href="/calendar">Agenda</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" href="/faq">FAQ</a>
    </li>
</ul>
{% endblock %}
{% block main %}
<div class="jumbotron">
    <div class="container">
        <h2 class="display-4 text-center">Studentenoverzicht</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 mt-3 mb-3">
            <div class="row">
                <div class="col-4 border-bottom border-right">
                    <p>Studentennummer</p>
                </div>
                <div class="col-4 border-bottom border-right">
                    E-mail
                </div>
                <div class="col-4 border-bottom">
                    Score
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col border-bottom">
            <h5>1e jaar</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 mt-3 mb-3">
            {% for result in results %}
            {% if result['year'] == 1 %}
            <div class="row">
                <div class="col-4 border">
                    <p>{{ result['username'] }}</p>
                </div>
                <div class="col-4 border">
                    <p>{{ result['email'] }}</p>
                </div>
                <div class="col-4 border">
                    <p>{{ result['score'] }}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col border-bottom">
            <h5>2e jaar</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 mt-3 mb-3">
            {% for result in results %}
            {% if result['year'] == 2 %}
            <div class="row">
                <div class="col-4 border">
                    <p>{{ result['username'] }}</p>
                </div>
                <div class="col-4 border">
                    <p>{{ result['email'] }}</p>
                </div>
                <div class="col-4 border">
                    <p>{{ result['score'] }}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col border-bottom">
            <h5>3e jaar</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 mt-3 mb-3">
            {% for result in results %}
            {% if result['year'] == 3 %}
            <div class="row">
                <div class="col-4 border">
                    <p>{{ result['username'] }}</p>
                </div>
                <div class="col-4 border">
                    <p>{{ result['email'] }}</p>
                </div>
                <div class="col-4 border">
                    <p>{{ result['score'] }}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col border-bottom">
            <h5>4e jaar</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 mt-3 mb-3">
            {% for result in results %}
            {% if result['year'] == 4 %}
            <div class="row">
                <div class="col-4 border">
                    <p>{{ result['username'] }}</p>
                </div>
                <div class="col-4 border">
                    <p>{{ result['email'] }}</p>
                </div>
                <div class="col-4 border">
                    <p>{{ result['score'] }}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-sm-1"></div>
    </div>
    <hr>
</div>
{% endblock %}
